<div class="row" style="margin-top: 2rem;">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- <div class="alert alert-danger" *ngIf="errMsg">
      <p>{{ errMsg }}</p>
    </div> -->
    <!-- <app-alert [message]="errMsg" *ngIf="errMsg" (close)="onHandleError()"></app-alert> -->
    <ng-template appPlaceholder></ng-template>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
      </div>
      <div>
        <button class="btn btn-primary" type="submit"
          [disabled]=!authForm.valid>{{ isLoginMode ? 'Login': 'Sign Up'}}</button> |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? 'Sign Up': 'Login'}}</button>
      </div>
    </form>
  </div>
</div>