<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/recipes" *ngIf="isAuthenticated">Recipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/auth" *ngIf="!isAuthenticated">Autheticate</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/shopping-list">Shopping list</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" routerLink="/">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <!-- <ng-template [ngIf]="!isAuthenticated()">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/signup">Register</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/signin">Login</a>
        </li>
      </ng-template> -->
      <li class="nav-item">
        <a style="cursor: pointer;" class="nav-link" (click)="onLogout()" *ngIf="isAuthenticated">Logout</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated">
        <a class="nav-link dropdown-toggle" style="cursor: pointer" data-toggle="dropdown" role="button">Manage</a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
          <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>