<a style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active"  class="list-group-item">
  <div class="">
    <h4 class="list-group-item-action">{{ recipe.name }}</h4>
    <p class="list-group-flush">{{ recipe.description }}</p>
  </div>
  <span class="">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" style="max-height: 60px;">
  </span>
</a>